In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
import os

%matplotlib inline

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hermanus,-34.4187,19.2345,56.80,76,99,7.14,ZA,2022-06-22 06:06:34
1,1,Pisco,-13.7000,-76.2167,59.05,82,100,5.75,PE,2022-06-22 06:06:34
2,2,Nantucket,41.2835,-70.0995,62.71,88,0,10.36,US,2022-06-22 06:06:35
3,3,Qaanaaq,77.4840,-69.3632,33.55,66,94,5.70,GL,2022-06-22 06:06:35
4,4,Kapaa,22.0752,-159.3190,80.58,90,20,16.11,US,2022-06-22 06:06:36

In [3]:
# Check types
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = [max(temp, 0) for temp in max_temp]

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of humidity
locations = city_data_df[["Lat", "Lng"]]
# Get the humidity.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, 
                                max_intensity=100, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
# Get the humidity.
cloudiness = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, 
                                max_intensity=100, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
# Get the wind speed.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, 
                                max_intensity=100, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the city_data_df
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                         (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,4,Kapaa,22.0752,-159.3190,80.58,90,20,16.11,US,2022-06-22 06:06:36
5,5,Bengkulu,-3.8004,102.2655,83.79,66,82,5.66,ID,2022-06-22 06:06:36
13,13,Jamestown,42.0970,-79.2353,81.99,71,0,6.91,US,2022-06-22 06:05:28
22,22,Hilo,19.7297,-155.0900,75.27,93,100,9.22,US,2022-06-22 06:05:54
23,23,Butaritari,3.0707,172.7902,82.98,70,10,11.10,KI,2022-06-22 06:06:42

In [12]:
preferred_cities_df.count()

City_ID       173
City          173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
Country       173
Date          173
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df.head()

/var/folders/8p/wcbf_s4d72vgr134brn4tnph0000gn/T/ipykernel_10284/3586992783.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""

          City Country  Max Temp      Lat       Lng Hotel Name
4        Kapaa      US     80.58  22.0752 -159.3190
5     Bengkulu      ID     83.79  -3.8004  102.2655
13   Jamestown      US     81.99  42.0970  -79.2353
22        Hilo      US     75.27  19.7297 -155.0900
23  Butaritari      KI     82.98   3.0707  172.7902

In [14]:
# Set parameters to search for a hotel.
params = {
    "key": g_key,
    "type": "lodging",
    "radius": 5000}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    # Grab the first hotel from the results and store the name.    
    hotels = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
5,Bengkulu,ID,83.79,-3.8004,102.2655,Grage Hotel Bengkulu
13,Jamestown,US,81.99,42.0970,-79.2353,Hampton Inn & Suites Jamestown
22,Hilo,US,75.27,19.7297,-155.0900,Hilo Hawaiian Hotel
23,Butaritari,KI,82.98,3.0707,172.7902,Isles Sunset Lodge
25,Palauig,PH,86.72,15.4350,119.9045,Villa Raphael Resort
28,Sarangani,PH,83.44,5.4033,125.4636,JVL Inn and Cafeteria
29,Drovyanaya,RU,78.39,51.5833,113.0333,
33,Atuona,PF,77.49,-9.8000,-139.0333,Villa Enata
38,Seoul,KR,88.99,37.5683,126.9778,롯데호텔 서울

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
# Heatmap of temperature for vacation spots.
locations = hotel_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = hotel_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, 
                                max_intensity=300, point_radius=3)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Add the maker layer
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))