In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Wabash,US,81.12,clear sky,40.7978,-85.8205,"Holiday Inn Express & Suites Wabash, an IHG Hotel"
1,3,Sola,VU,80.17,overcast clouds,-13.8833,167.5500,Leumerus Bungalows
2,5,Rikitea,PF,75.58,clear sky,-23.1203,-134.9692,People ThankYou
3,6,Ahuimanu,US,83.34,light rain,21.4447,-157.8378,Paradise Bay Resort
4,9,Hithadhoo,MV,83.93,scattered clouds,-0.6000,73.0833,Scoop Guest House

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.8)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df.City=="Sakakah"]
vacation_end = vacation_df.loc[vacation_df.City=="Sakakah"]
vacation_stop1 = vacation_df.loc[vacation_df.City=="Kifri"]
vacation_stop2 = vacation_df.loc[vacation_df.City=="Riyadh"]
vacation_stop3 = vacation_df.loc[vacation_df.City=="Buraydah"]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
60,211,Sakakah,SA,76.68,clear sky,29.9697,40.2064,Fakhamat Al Orjoana Apartment

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0])
end = (vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0])
stop1 = (vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0])
stop2 = (vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0])
stop3 = (vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0])

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
mauritius_trip = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3], travel_mode="DRIVING")
fig.add_layer(mauritius_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,211,Sakakah,SA,76.68,clear sky,29.9697,40.2064,Fakhamat Al Orjoana Apartment
1,573,Kifri,IQ,81.90,clear sky,34.6959,44.9661,Ù ÛØ²Ø§Ù Ú©ÙØ±Û
2,313,Riyadh,SA,89.74,clear sky,24.6877,46.7219,"InterContinental Riyadh, an IHG Hotel"
3,485,Buraydah,SA,84.34,light rain,26.3260,43.9750,MÃ¶venpick Qassim

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))